/*----------------------------------------共通部分-------------------------------------------------------*/
.contents{
    width: 80%;
    margin: 0 0 0 auto;
}
#navTgl:checked ~ .contents {
	/* transform: translateX(-300px); */
    width: 100%;
}
#navTgl:checked ~ .contents > footer >.submitArea > #ta{
    left: 10;
    width: 90%;
}
#navTgl:checked ~ .contents > #appChatHist > header > p{
    text-align: center;
    width: 100%;
}
/* タイトル部分 */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    text-align: center;
    background: #273246;
    color: #ffffff;
    z-index: 2;
}
p{
    width: 75%;
    padding: 3px;
    font-size: 1em;
}
/* 送信部分 */
footer{
    background-color: #e0e0e0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    z-index: 2;
}
/* ------------------------------------------各処理------------------------------------------ */
.menu {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,.6);
	transform: translateX(0);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu h2,
.menu h3,
.menu a {
	color: white;
}
.menu h2 {
    text-align: center;
    margin-top: 3px;
}
.menu ul {
	margin: 10px;
    padding: 0;
    list-style: none;
}
.menu li {
	font-size: .8em;
	line-height: 1.4;
}
.menu li:not(:first-child) {
	border-top: 1px solid rgba(255,255,255,.6);
}
.menu a {
	display: block;
	padding: 1em 2em;
	text-decoration: inherit;
	transition: background .6s;
}
.menu a:hover {
	background: black;
}
#navTgl:checked ~ .menu {
	 /* transform: none;  */
	/*transform: translateX(-30%); */
	display: none;
}
.menu .logout{
    position: fixed;
    bottom: 0;
}
/*-------------------------------------トーク選択画面----------------------------------------------*/
.icon{
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 0px;
}
img.charicon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
/*----------------------------------------チャット画面-------------------------------------------------------*/
.line_container {
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
}

/* 会話部分 */
.line_contents {
    margin: 50px 0 50px 0;
    padding: 10px;
    line-height: 135%;
    overflow-y: auto;
}
/* スタンプ画像最大幅 */
.line_container .stamp img {
    max-width:120px;
}
/*---------------------------------------------チャット画面--------------------------------------------------*/
/* 相手の会話 */
.line_container .line__left {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: left;
    margin-left: 15px;
    clear: both;
}

/* 相手のアイコンの正方形を用意 */
.line_container .line__left figure img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* 相手のアイコン画像 */
.line_container .line__left figure {
    width: 50px;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 0;
    margin: 0;
}
/* 相手のコメント吹き出し位置 */
.line_container .line__left .line__left-text {
  margin-left: 70px;
}
/* 相手のコメントのフォント */
.line_container .line__left .line__left-text .name {
  font-size: 80%;
  color: #ffffff;
}

/* 相手のコメントエリア */
.line_container .line__left .text {
  margin: 0;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
}

/* 相手のコメント吹き出し */
.line_container .line__left .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 10px;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* 既読エリア */
.line_container .line__left .date {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  text-align: left;
  right: -110px;
  bottom: 0px;
  font-size: 80%;
  color: #ffffff;
}
/*------------------------------------▲相手▲------------------------------------*/
/* 自分の会話 */
.line_container .line__right {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: right;
    margin-right: 15px;
    clear: both;
}

/* 自分のコメントエリア */
.line_container .line__right .text {
  padding: 10px;
  border-radius: 20px;
  background-color: #8de055;
  margin: 0;
  margin-left: 80px;
}

/* 自分のコメント吹き出し */
.line_container .line__right .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -10px;
  top: 10px;
  border-left: 20px solid #8de055;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* 自分がスタンプを送る時 */
.line_container .line__right .stamp {
  position: relative;
  margin-left: 80px;
}

/* 既読エリア */
.line_container .line__right .date {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  text-align: right;
  left: -30px;
  bottom: 0px;
  font-size: 80%;
  color: #ffffff;
}

/*---------------------------------------------送信部分--------------------------------------------------*/  
.submitArea{
    display: flex;
    width: 100%;
}
/* テキストエリア */
#ta{
    font-size: 18pt;
    width: 70%;
    line-height: 30px;
    border-radius: 3px;
    height: 36px;
    position: fixed;
    bottom: 10;
    left: 20.5%;
    resize: none;
    outline: none;
    background: #ddd;
}
#ta:focus{
    border-color: seagreen;
}
/* スタンプボタン */
.select-stamp{
    cursor: pointer;
    border-style: none;
    background-color: rgba(255,255,255,0);
    height: 36px;
    width: 36px;
    position: fixed;
    bottom: 10;
    left: 90.8%;
    text-align: center;
}
.select-stamp:hover{
    border-style: none;
    animation: shake .3s ;
}
@keyframes shake {
    0% {transform: rotateZ(0deg)}
    10% {transform: rotateZ(-15deg)}
    25% {transform: rotateZ(-25deg)}
    45% {transform: rotateZ(-15deg)}
    50% {transform: rotateZ(0deg)}
    70% {transform: rotateZ(15deg)}
    85% {transform: rotateZ(25deg)}
    90% {transform: rotateZ(15deg)}
    100% {transform: rotateZ(0deg)}
}
.fa-grin {
    color: seagreen;
}
/* モーダル表示 */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.stamp_list{
    margin: 5,5,5,5;
    height: 250px;
    overflow: auto;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 4;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    z-index: 5;
}
#imgsList{
    list-style: none;
    display: table;
    width: 100%;
    padding: 0;
}
#imgsList > li{
    padding: 0;
    display: table-cell;
    float: left;
    width: 25%;
    text-align: center;
}
.img-style{
    height: 100px;
    width: 100px;
}

/* 送信ボタン */
.btn-submit{
    cursor: pointer;
    color: #008080;
    background-color: #fff;
    font-weight: bold;
    border-radius: 3px;
    border-color: #008080;
    height: 36px;
    width: 70px;
    position: fixed;
    bottom: 10;
    left: 94%;
}
.btn-submit:hover{
    border-style: none;
    transition: background 0.23s;
    color: #fff;
    background-color: #008080;
}

/*---------------------------------------------レスポンシブ--------------------------------------------------*/
@media screen and (max-width:1024px) {
    .container{
        position: relative;
        width: 100%;
        height: auto;
    }
}