/* ------------トグルボタン動作（画面左）------------ */
#navTgl {
	display: none;
}
label {
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
}
/* ------------トグルボタン初期表示 ↓ ------------ */
.open {
	top: 13px;
	left: 12px;
	z-index: 5;
	width: 30px;
	height: 30px;
	background: lightSeaGreen;
	transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	border-radius: 50%;
}
.open::after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-top: #fff 2px solid;
	border-right: #fff 2px solid;
	transform: rotate(225deg);
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}
/* ------------トグルボタンON ↓ ------------ */
#navTgl:checked + .open {
	background: indianRed;
	transform: translateX();
	transform: rotate(180deg);
	margin: auto;
}